@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

/* 背景画像 */
#HOME{
    background-image: url("../img/japanese-paper_00183.jpg");
    background-size: cover;
}

/* ナビゲーションバー */
.nav-link{
   color:#BA0C0C;
   font-size: 20px;
    font-weight: 900;
}

/* タイトル */
.headtitle{
    padding-top: 60px;
    text-align: center;
    color: #BA0C0C;
}

.title{
        color:inherit;
        text-decoration: none;
}

/* トップ */
.top{
    background-image: url("../img/kuramewa1.png");
    background-repeat: repeat-x;
    background-size: cover;
}

.titlefst{
    color: #E6FF00;
    font-size: 2.5rem;
    margin: 120px 100px 20px 50px;
}

.titlesec{
    color: #E6FF00;
    font-size: 2.5rem;
    margin:30px 50px 50px 200px;
}

.carousel-inner{
    display: flex;
}

.carousel-item{
    margin: 10px 5px;
}

.carousel-item img{
    height: 400px;
}

/* トピック */
.topic{
    display: flex;
}

.topic-item img{
    height: 250px;
    margin: 50px 120px 20px 120px;
}

.topic-link{
    margin-bottom: 50px;
    font-size: large;
    text-align: center;
    font-weight: 1000;
    font-size: 2rem;
    color: #BA0C0C;
}

.topic-link a{
    color:inherit;
    text-decoration: none;
}

.headtitle {
    display: flex;
    align-items: center;
}

.headtitle h1 {
    flex: 1; /* タイトルが残りのスペースを占有 */
    margin-right: 20px; /* タイトルと画像の間隔 */
}

.title-image img {
    max-width: 100%; /* 画像が親要素内で最大限の幅になるように */
    height: auto; /* アスペクト比を維持しつつ高さを自動調整 */
}



.left img {
    width: 150px;
    height: 200px;
    border-radius: 50%;
}

.right{
    margin-left: 400px;
    margin-top: 150px;
}
.box{
    display: flex;
}


