@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 追加：要素の内側の余白やボーダーが要素の幅や高さを超えないようにする */
}
h1 {
    text-align: center;
}
h2 {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 15%;
    text-align: center; /* 追加：中央揃え */
}
p {
    margin-left: 20px;
    font-size: 20px;
    width: 80%;
    padding: 10px;
}
.box1 {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    justify-content: space-between; /* 追加：子要素を均等に配置 */
}
.div_img {
    text-align: center;
    width: 300px;
    margin: 0 auto;
}
.div_img img {
    width: 100%;
}
.div1, .div2, .div3, .div4 {
    text-align: center;
    width: 45%;
    height: 500px;
    margin-bottom: 20px; /* 追加：ボックス間の間隔を設定 */
}
