body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('../img/uranai.jpg') center/cover no-repeat; /* 背景画像のURLを指定 */
}

#container {
    text-align: center;
}

#intro {
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

#fortune-result {
    font-size: 48px;
    color: #aebec0;
    margin-top: 20px;
}

#fortune-button {
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    background-color: #74bb77;
    color: #fff;
    border: none;
    border-radius: 5px;
}
